<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form" [formGroup]="form" #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName" name="firstName" [(ngModel)]='firstName'>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName" name="lastName" [(ngModel)]='lastName'>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Age" formControlName="age" name="age" [(ngModel)]='age'>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" name="email" [(ngModel)]='email'>
      </mat-form-field>
      <section class="example-section">
        <label class="example-margin">Gender:</label>
        <br>
        <mat-radio-group formControlName="gender" name="gender" [(ngModel)]="gender">
          <mat-radio-button class="example-margin" value="Male">Male</mat-radio-button>
          &nbsp;
          <mat-radio-button class="example-margin" value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </section>
      <mat-form-field>
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="dob" name='dob' [(ngModel)]='dob' placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Company ID</mat-label>
        <input matInput placeholder="Company Id"  formControlName="companyId" name="companyId" [(ngModel)]='companyId'>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="registerForm.invalid">REGISTER</button>
      </mat-card-actions>
    </form>

  </mat-card-content>

</mat-card>